[Unit]
Description=System Monitoring python to influx keepalive daemon
## make sure we only start the service after network is up
Wants=network-online.target
After=network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
## use 'Type=forking' if the service backgrounds itself
## other values are Type=simple (default) and Type=oneshot
Type=simple
## here we can set custom environment variables
ExecStart=/home/pi/dev/tools/system_monitoring_to_influx.py
ExecStop=/usr/bin/killall -9 python
### NOTE: you can have multiple `ExecStop` lines
ExecStop=/usr/bin/killall -9 python3
# don't use 'nobody' if your script needs to access user files
# (if User is not set the service will run as root)
User=pi

Restart=on-failure
RestartSec=5s

# Useful during debugging; remove it once the service is working
#StandardOutput=console

[Install]
WantedBy=multi-user.target
